@model IEnumerable<MVC_EF_Participation.Models.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Registrations</h2>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <a href="~/Registrations/Details/@item.RegistrationID">

                <div class="card registration" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">Registration ID: @item.RegistrationID</h5>
                        <p class="card-text">Student ID: @item.StudentID, Enrollment date: @item.EnrollmentDate</p>

                    </div>
                </div>



            </a>
        }
    </div>
</div>